
.service-tx{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.service-card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.card-1{
    width: 45%;
    height: 284px;
    padding: 20px;
    background-color: #fbb46342;
    border-radius: 15px;
    line-height: 30px;
    border: 2px solid #fbb46342;
}
.card-1 h2{
      margin-top: 20px;
      margin-bottom: 20px;
}

.card-2{
    width: 45%;
    height: 284px;
    padding: 20px;
    background-color: #29cdf625;
    border-radius: 15px;
    line-height: 30px;
    border: 2px solid #29cdf625;
}

.card-2 h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.service-card2{
    width: 100%;
    margin: 20px;
}

.card-3{
    width: 45%;
    height: 284px;
    padding: 20px;
    background-color: #e944442e;
    border-radius: 15px;
    line-height: 30px;
    margin: 0 auto;
    border: 2px solid #e944442e;

}
.card-3 h2{
    margin-top: 20px;
    margin-bottom: 20px;
}



@media screen and (max-width: 576px){
    
    .service-card{
        flex-direction: column;
    }
    .card-1, .card-2, .card-3{
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
}

